# Dependências
# Esta pasta é recriada com 'npm install' e pode ser muito grande.
node_modules/

# Arquivos de Build
# Esta pasta contém o código JavaScript compilado, não o código-fonte.
dist/

# Logs
# Arquivos de log gerados durante a execução ou depuração.
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivo de Ambiente
# Contém segredos e chaves de API. NUNCA deve ir para o repositório.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Teste (opcional, dependendo da estratégia)
coverage/
/src/generated/prisma
